django<5.0,>=4.2
whitenoise
gunicorn
playwright
beautifulsoup4
requests
tqdm
urllib3
psycopg2-binary
dj-database-url
selenium>=4.9.0
undetected-chromedriver @ git+https://github.com/ultrafunkamsterdam/undetected-chromedriver.git
whitenoise
bs4

