beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.1
idna==3.10
requests==2.32.3
soupsieve==2.7
typing_extensions==4.13.2
urllib3==2.4.0
Django==3.2.25
gunicorn==23.0.0
whitenoise==6.9.0
tqdm==4.67.1
selenium==4.31.0
undetected-chromedriver==3.5.5
django-cron==0.5.1
django-extensions==3.2.3