/* STRIPS PAGE OF ALL TEMPLATE STYLING */


.inner-wrap .mbt {
	max-width: 1200px;
	margin: 40px auto 0 auto;
}


.inner-wrap .container {
	width: 100% !important;
	padding: 0;
}
.inner-wrap .sectionBlock {
	border: none;
	border-radius: 0;
	font-size: 14px;
	margin-bottom: 0;
}
.inner-wrap .sectionContent {
	padding: 0;
}
.inner-wrap .clear {
	display: none;
}
header {
	font-size: 13px;
}





/* MAIN STYLE */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #1d1d1d;
  line-height: 1.6em;
}

h1 {
	font-size: 28px;
	color: #575758;
	margin: 0 0 10px 0;
	font-weight: 700 !important;
}
h2 {
	font-weight: 600 !important;
	font-size: 24px;
	color: #2F3942;
	margin: 0 0 15px 0;
}
h3 {
	font-size: 18px;
	margin: 5px 0 8px 0;
	font-weight: 700 !important;
	color: #1D1D1D;
	line-height: 1.3em;
}
h4 {
	font-weight: 700 !important;
	font-size: 15px;
	color: #575758;
	margin: 0 0 5px 0;
}
.content-box h3, .content-box h4 {
    padding: 10px 0 15px 0;
    margin-top: 0;
    margin-bottom: 0;
}
.grid-container p  {
	font-size: 15px !important;
}
p {
	margin: 0 0 1.25em 0;
	line-height: 1.6em;
}
p:last-of-type {
	margin: 0;
}
.text-center {
	text-align: center;
}
a {
	font-weight: 600;
	color: #1D5AB9;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	color: #3275DC;
}
strong {
	font-weight: 700;
}
.grid-container ul {
	font-size: 15px !important;
}
.grid-container ol {
	list-style-type: decimal !important;
	font-size: 15px !important;
	padding-left: 20px;
}
.grid-container ul li, .grid-container ol li, .full-width-section ul li {
	margin-bottom: .5em !important;
}
ul.steps li, ol.steps li {
	margin-bottom: 3em !important;
}
.grid-container ol li ul {
	margin-top: 20px;
}
.grid-container ul ol li, .grid-container ol ul li {
	margin-bottom: .5em !important;
}
img {
	max-width: 100%; 
}
img.float-left {
	margin: 0 20px 20px 0;
}
img.float-right {
	margin: 0 0 20px 20px;
}
img.center-content {
	display: block;
	box-sizing: border-box;
	padding: 20px;
}
img.fill-container {
	width: 100% !important;
}
hr {
	border: solid 1px #D8D8D8;
	margin: 10px 0;
	height: 0;
}

.page-hero {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	min-height: 350px;
	box-sizing: border-box;
	padding: 100px 0 50px 0;
	margin-bottom: 15px;
}
.page-hero h1 {
	font-size: 36px;
    margin: 0 0 18px 0;
    font-weight: 700;
	color:#002878;
}

.hero-subtext {
	font-size: 22px;
	font-weight:500 !important;
	margin: 20px 0 !important;
	color:#002878;
	max-width:60%;
}

.full-width-section {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 0;
	margin: 30px 0;
}
.banner-announcement {
	display: block;
	position: relative;
	margin: 0 0 20px 0;
	width: 100%;
	box-sizing: border-box;
	padding: 8px 20px;
}
.banner-announcement p {
	margin-bottom: 0 !important;
}
.sub-nav-wrapper {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.sub-nav-wrapper .grid-row [class^="col"] {
    margin: 0 0.8%;
}



/* HELPERS */
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.float-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.center-content {
	display: block;
	text-align: center;
	margin-left: auto !important;
	margin-right: auto !important;
}
.spacer {
	display: block;
	margin: 0 0 15px 0;
	clear: both;
}
.clearer {
	display: block;
	clear: both;
}
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
.italic {
	font-style: italic;
}
p.spacer {
	margin-bottom: 35px;
}
.last {
	margin-bottom: 0;
}
.mobile-remove {
	display: block;
}
.mobile-display {
	display: none;
}
.round-corners {
	border-radius: 5px;
}
.padding {
	padding: 20px;
}


/* BUTTONS */
a.copart-btn-open {
	display: inline-block;
	margin: 0 auto 10px auto;
	font-weight: 600;
	font-size: 14px;
	color: #1D5AB9;
	border: solid 1px #005BBB;
	border-radius: 4px;
	padding: 8px 16px;
	transition: all 0.3s ease-in-out;
}
a.copart-btn-open:hover {
	background-color: #005BBB;
	color: #FFFFFF;
	text-decoration: none;
}
a.copart-btn-open:active {
	background-color: #3275DD;
}

a.copart-btn-open-large {
	display: inline-block;
	margin: 0 auto 10px auto;
	font-weight: 600;
	font-size: 16px;
	color: #1D5AB9;
	border: solid 1px #005BBB;
	border-radius: 4px;
	padding: 12px 20px;
	transition: all 0.3s ease-in-out;
}
a.copart-btn-open-large:hover {
	background-color: #005BBB;
	color: #FFFFFF;
	text-decoration: none;
}
a.copart-btn-open-large:active {
	background-color: #3275DD;
}

a.copart-btn-closed {
	display: inline-block;
	margin: 0 auto 10px auto;
	font-weight: 600;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #005BBB;
	border: none;
	border-radius: 4px;
	padding: 8px 16px;
	transition: all 0.3s ease-in-out;
}
a.copart-btn-closed:hover {
	background-color: #3275DC;
	text-decoration: none;
}
a.copart-btn-closed:active {
	background-color: #005BBB;
}

a.copart-btn-closed-large {
	display: inline-block;
	margin: 0 auto 10px auto;
	font-weight: 600;
	font-size: 16px;
	color: #FFFFFF;
	background-color: #005BBB;
	border: none;
	border-radius: 4px;
	padding: 12px 20px;
	transition: all 0.3s ease-in-out;
}
a.copart-btn-closed-large:hover {
	background-color: #3275DC;
	text-decoration: none;
}
a.copart-btn-closed-large:active {
	background-color: #005BBB;
}



a.drive-btn-secondary {
	display: inline-block;
	margin: 0 auto 10px auto;
	font-weight: 600;
	font-size: 14px;
	color: #F7BD00;
	background-color: #4A4947;
	border-radius: 4px;
	padding: 8px 16px;
	transition: all 0.3s ease-in-out;
}
a.drive-btn-secondary:hover {
	background-color: #5D5D5C;
	text-decoration: none;
}
a.drive-btn-secondary:active {
	background-color: #4A4947;
}

a.drive-btn-secondary-large {
	display: inline-block;
	margin: 0 auto 10px auto;
	font-weight: 600;
	font-size: 16px;
	color: #F7BD00;
	background-color: #4A4947;
	border-radius: 4px;
	padding: 12px 20px;
	transition: all 0.3s ease-in-out;
}
a.drive-btn-secondary-large:hover {
	background-color: #5D5D5C;
	text-decoration: none;
}
a.drive-btn-secondary-large:active {
	background-color: #4A4947;
}

a.drive-btn-closed {
	display: inline-block;
	margin: 0 auto 10px auto;
	font-weight: 600;
	font-size: 14px;
	color: #231F20;
	background-color: #F7BD00;
	border: none;
	border-radius: 4px;
	padding: 8px 16px;
	transition: all 0.3s ease-in-out;
}
a.drive-btn-closed:hover {
	background-color: #FFCB20;
	text-decoration: none;
}
a.drive-btn-closed:active {
	background-color: #F7BD00;
}

a.drive-btn-closed-large {
	display: inline-block;
	margin: 0 auto 10px auto;
	font-weight: 600;
	font-size: 16px;
	color: #231F20;
	background-color: #F7BD00;
	border: none;
	border-radius: 4px;
	padding: 12px 20px;
	transition: all 0.3s ease-in-out;
}
a.drive-btn-closed-large:hover {
	background-color: #FFCB20;
	text-decoration: none;
}
a.drive-btn-closed-large:active {
	background-color: #F7BD00;
}



a.ct-btn-open {
	display: inline-block;
	margin: 0 auto 10px auto;
	font-weight: 600;
	font-size: 14px;
	color: #F0231A;
	border: solid 1px #F0231A;
	border-radius: 4px;
	padding: 8px 16px;
	transition: all 0.3s ease-in-out;
}
a.ct-btn-open:hover {
	background-color: #F0231A;
	color: #FFFFFF;
	text-decoration: none;
}
a.ct-btn-open:active {
	background-color: #3275DD;
}

a.ct-btn-open-large {
	display: inline-block;
	margin: 0 auto 10px auto;
	font-weight: 600;
	font-size: 16px;
	color: #F0231A;
	border: solid 1px #F0231A;
	border-radius: 4px;
	padding: 12px 20px;
	transition: all 0.3s ease-in-out;
}
a.ct-btn-open-large:hover {
	background-color: #F0231A;
	color: #FFFFFF;
	text-decoration: none;
}
a.ct-btn-open-large:active {
	background-color: #3275DD;
}

a.ct-btn-closed {
	display: inline-block;
	margin: 0 auto 10px auto;
	font-weight: 600;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #F0231A;
	border: none;
	border-radius: 4px;
	padding: 8px 16px;
	transition: all 0.3s ease-in-out;
}
a.ct-btn-closed:hover {
	background-color: #FF4040;
	text-decoration: none;
}
a.ct-btn-closed:active {
	background-color: #F0231A;
}

a.ct-btn-closed-large {
	display: inline-block;
	margin: 0 auto 10px auto;
	font-weight: 600;
	font-size: 16px;
	color: #FFFFFF;
	background-color: #F0231A;
	border: none;
	border-radius: 4px;
	padding: 12px 20px;
	transition: all 0.3s ease-in-out;
}
a.ct-btn-closed-large:hover {
	background-color: #FF4040;
	text-decoration: none;
}
a.ct-btn-closed-large:active {
	background-color: #F0231A;
}

a.drive-container-btn-yellow {
	display: block;
	margin: 0 auto;
	font-weight: 700;
	font-size: 14px;
	color: #231F20;
	background-color: #F7BD00;
	border: none;
	border-radius: 0;
	padding: 8px 16px;
	transition: all 0.3s ease-in-out;
	bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}
a.drive-container-btn-dark-gray {
	display: block;
	margin: 0 auto;
	font-weight: 600;
	font-size: 14px;
	color: #F7BD00;
	background-color: #231F20;
	border: none;
	border-radius: 0;
	padding: 8px 16px;
	transition: all 0.3s ease-in-out;
	bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}


.sub-nav-item {
	display: block;
	margin: 0;
	padding: 8px;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	color: #231F20;
	border: none;
}
.sub-nav-item:hover {
	color: #231F20;
}



/* CONTAINERS */
.container-with-border {
	display: block;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin: 0 0 20px 0;
	border: solid 1px #DFDFDF;
	border-radius: 5px;
}
.container-with-no-border {
	display: block;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin: 0 0 20px 0;
}
.container-title {
	display: block;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	background-color: #005BBB;
	padding: 8px 20px;
}
.container-with-no-border .container-title {
	display: block;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	background-color: #005BBB;
	padding: 9px 20px;
	border-radius: 5px;
}
.container-title h2, .container-title h3, .container-title h4, .container-title p {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	padding: 0;
}
.container-image {
	display: block;
	overflow: hidden;
	width: 100%;
	height: auto;
	min-height: 200px;
}
.container-content {
	display: block;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding: 15px 20px 10px 20px;
}
.container-content p:last-of-type {
	margin-bottom: 0;
}
.readmore-link {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	background-color: #F7F7F7;
	padding: 5px 20px;
	border-top: solid 1px #DFDFDF;
	margin-top: 5px;
}
.container-with-no-border .readmore-link {
	border: solid 1px #DFDFDF;
	border-radius: 5px;
}


/* COLOR CLASSES */
.copart-blue {
	background-color: #005BBB !important;
	color: #FFFFFF !important;
}
.copart-blue-dark {
	background-color: #2F3942 !important;
	color: #FFFFFF !important;
}
.copart-blue-light {
	background-color: #E1EDFF !important;
	color: #2F3942 !important;
}
.copart-blue-accent {
	background-color: #2768CE !important;
	color: #FFFFFF !important;
}
.copart-border {
	border: solid 1px #005BBB;
}
.light-gray {
	background-color: #DFDFDF !important;
	color: #575758 !important;
}
.white-bg {
	background-color: #FFFFFF !important;
	color: #585858!important;
}
.white-text {
	color: #FFFFFF !important;
}
.drive-yellow {
	background-color: #F7BD00 !important;
	color: #231F20 !important;
}
.drive-dark-gray {
	background-color: #231F20 !important;
	color: #F7BD00 !important;
}
.drive-light-gray {
	background-color: #4A4947 !important;
	color: #F7BD00 !important;
}
.drive-light-yellow {
	background-color: #FFF6DA !important;
	color: #231F20 !important;
}
.drive-border {
	border: solid 1px #F7BD00;
}
.crashedtoys-red {
	background-color: #F0231A !important;
	color: #FFFFFF !important;
}
.crashedtoys-red-light {
	background-color: #FFE8E8 !important;
	color: #F0231A !important;
}
.crashedtoys-border {
	border: solid 1px #F0231A;
}


/***** GRID SYSTEM *****/

.grid-container {
	width: 90%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.grid-row {
  position: relative;
  width: 100%;
}

.grid-row [class^="col"] {
  float: left;
  margin: 25px 0.8%;
  min-height: 0.125rem;
  box-sizing: border-box;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 98.33%;
}

.col-1-sm {
  width: 6.73%;
}

.col-2-sm {
  width: 15.06%;
}

.col-3-sm {
  width: 23.4%;
}

.col-4-sm {
  width: 31.73%;
}

.col-5-sm {
  width: 40.07%;
}

.col-6-sm {
  width: 48.4%;
}

.col-7-sm {
  width: 56.73%;
}

.col-8-sm {
  width: 65.07%;
}

.col-9-sm {
  width: 73.4%;
}

.col-10-sm {
  width: 81.73%;
}

.col-11-sm {
  width: 90.07%;
}

.col-12-sm {
  width: 98.4%;
}

.grid-row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .grid-container {
    width: 90%;
  }
  
}

@media only screen and (max-width: 33.75em) {  /* 540px */
  
  .mobile-remove {
	  display: none !important;
  	}
  .mobile-display {
	  display: block;
  	}
	.page-hero h1 {
		font-size:30px;
	}
	.hero-subtext {
		font-size:18px;
	}
}

@media only screen and (max-width: 45em) {  /* 720px */
	.text-image {
	  display: block;
	  max-width: 100% !important;
  	}
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 6.73%;
  }

  .col-2 {
    width: 15.06%;
  }

  .col-3 {
    width: 23.4%;
  }

  .col-4 {
    width: 31.73%;
  }

  .col-5 {
    width: 40.07%;
  }

  .col-6 {
    width: 48.4%;
  }

  .col-7 {
    width: 56.73%;
  }

  .col-8 {
    width: 65.07%;
  }

  .col-9 {
    width: 73.4%;
  }

  .col-10 {
    width: 81.73%;
  }

  .col-11 {
    width: 90.07%;
  }

  .col-12 {
    width: 98.4%;
  }

  .hidden-sm {
    display: block;
  }
  
}

@media only screen and (min-width: 60em) { /* 960px */

	.grid-container {
	    width: 100%;
	    max-width: 1200px;
	    box-sizing: border-box;
	    padding: 0 25px;
	}

}
