<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <title>Copart Brasil</title>
</head>
<body>
    <!-- <strong>A telefonia está inoperante. Estamos atuando para que seja solucionado o quanto antes, enquanto isto, estamos disponíveis no whatsapp através do telefone <a href="http://wa.me/5511958462009">(11) 95846-2009.</a></strong> -->
    <div>
        <a href="http://wa.me/5511958462009" target="_self">
            <img src="/static/copart/content_br_pt-br_images_whatsapp_icone.png" alt="WhatsApp" height="45" width="45" />
        </a>
        <a class="btn btn-newhero copart-btn-yellow" href="/sellForIndividuals/" role="button" target="_self">Saiba Mais ›</a>
    </div>
</body>
</html>
